<launch>
  <arg name="laser"     default="velodyne32"/>

  <param name="use_sim_time" value="true"/> 
  <node name="rosbag_play" pkg="rosbag" type="play" args="/home/aeroscout/Documents/highbay_carto/highbay_single_2.bag --pause --clock --rate 1" />
  <!-- <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/aria.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" /> -->
  <!-- <include file="$(find aria_launch)/launch/sensors.launch"/>
    <param name="/encoderTfPublisher/spinnerSpeed" value="130"/> -->

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" required="true" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename aria_single.lua"
      output="screen">
    <remap from="points2"   to="/velodyne_points" />
    <remap from="imu"       to="/microstrain/imu"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/aria_single.rviz" /> 
  <node pkg="tf" type="static_transform_publisher" name="map_world" args="0 0 0 0 0 0 /map /world 100"/>

</launch>
